# Dependencies
/node_modules

# Build output
/dist
/build

# TypeScript compiler output
*.tsbuildinfo

# IDE / Editor
/.idea
*.iml
*.suo
*.swp
*.user
.vscode/

# Testing
/coverage
/junit.xml

# Yarn
.yarn/
.yarnrc.yml
.pnp.*
.yarn-integrity

# Environment variables
.env

# Mac system files
.DS_Store